In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd 
df = pd.read_csv('weather.csv')
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practices').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('weather.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [9]:
df_pyspark = spark.read.option('header', 'true').csv('weather.csv')

In [13]:
df_pyspark.head(3)

[Row(date='5/1/2017', city='new york', temperature='65', humidity='56'),
 Row(date='5/2/2017', city='new york', temperature='66', humidity='58'),
 Row(date='5/3/2017', city='new york', temperature='68', humidity='60')]

In [14]:
df_pyspark.show()

+--------+--------+-----------+--------+
|    date|    city|temperature|humidity|
+--------+--------+-----------+--------+
|5/1/2017|new york|         65|      56|
|5/2/2017|new york|         66|      58|
|5/3/2017|new york|         68|      60|
|5/1/2017|  mumbai|         75|      80|
|5/2/2017|  mumbai|         78|      83|
|5/3/2017|  mumbai|         82|      85|
|5/1/2017| beijing|         80|      26|
|5/2/2017| beijing|         77|      30|
|5/3/2017| beijing|         79|      35|
+--------+--------+-----------+--------+

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.printSchema()

root
 |-- date: string (nullable = true)
 |-- city: string (nullable = true)
 |-- temperature: string (nullable = true)
 |-- humidity: string (nullable = true)