# In this Video We will Cover
- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [38]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema= True)

In [39]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(2)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

In [13]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [14]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [16]:
df_pyspark.select(['Name', 'age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [27]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [40]:
##Adding column on dataframe ######
df_pyspark = df_pyspark.withColumn('New_experience', df_pyspark['Experience'] + 2)

In [43]:
df_pyspark.show()

+---------+---+----------+------+--------------+
|     Name|age|Experience|Salary|New_experience|
+---------+---+----------+------+--------------+
|    Krish| 31|        10| 30000|            12|
|Sudhanshu| 30|         8| 25000|            10|
|    Sunny| 29|         4| 20000|             6|
|     Paul| 24|         3| 20000|             5|
|   Harsha| 21|         1| 15000|             3|
|  Shubham| 23|         2| 18000|             4|
+---------+---+----------+------+--------------+

In [32]:
df_pyspark.dtypes

[('Name', 'string'),
 ('age', 'int'),
 ('Experience', 'int'),
 ('Salary', 'int'),
 ('New_experience', 'int')]

In [44]:
### DROP Column #############

df_pyspark = df_pyspark.drop('New_experience')

In [45]:
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [46]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [47]:
#######Rename Column############

df_pyspark = df_pyspark.withColumnRenamed('Name', 'EMP_Name')

In [48]:
df_pyspark.show()

+---------+---+----------+------+
| EMP_Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+