# Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [17]:
py_spark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [18]:
py_spark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [5]:
py_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
##Group by

In [19]:
py_spark.groupBy(py_spark.Name).sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [23]:
df_py_spark = py_spark.groupBy(py_spark.Departments).sum()

In [31]:
df_py_spark = df_py_spark.orderBy('sum(salary)',ascending=False)
df_py_spark.show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|Data Science|      43000|
|         IOT|      15000|
|    Big Data|      15000|
+------------+-----------+

In [34]:
py_spark.groupBy(py_spark.Departments).mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [35]:
py_spark.groupBy(py_spark.Departments).count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [39]:
py_spark.agg({"salary" : "sum"}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [48]:
Total = py_spark.groupBy(py_spark.Name).sum()

In [50]:
Total.show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [52]:
Total.

TypeError: 'DataFrame' object is not callable